@font-face{
    font-family: Poppins;
    src: url(./font/Poppins-Medium.ttf);
}    

body {
    background: linear-gradient(white, #07C2FD) ;
    font-family: "Poppins";
}

body a{
    text-decoration: none;
}

h1 { 
    position: absolute;
    top: 5%;
    left: 5.5%;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}

ul{
    position: absolute;
    top: 20px;
    right: 130px;
    font-size: 20px;
}

li{list-style: none; display: inline;}

li a {
    padding: 20px;
    color: black;
}

.pelajaran{
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

.dashboard {
    width: 700px;
    height: 800px;
    font-family: "Poppins";
    background-color: #F9EAA0;    
    border-radius: 30px;
}

.dashboard h2{
    position: relative;
    left: 35px;
}

.dashboard .display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.display .kotaksoal {
    width: 370px;
    height: 290px;
    background-color: #82ec8b;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center ;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: -33px;
}

.display .latihan {
    margin-top: -33px;
}

.display .pembahasan {
    margin-top: 33px;
}

.kotaksoal .gambar1 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotaksoal .gambar2 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotaksoal .button1{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-top: 110px;
    margin-right: 20px;
    border-radius: 20px;
    border-color: #F9EAA0;
    border-width: 3px;
    cursor: pointer;
}

.kotaksoal .button2{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-bottom: 100px;
    margin-left: 20px;
    border-radius: 20px;
    border-color:#F9EAA0 ;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.kotakpembahasan {
    width: 370px;
    height: 290px;
    background-color: #82ec8b;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center ;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 33px;
}

.kotakpembahasan .gambar1 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotakpembahasan .gambar2 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotakpembahasan .button1{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-top: 110px;
    margin-right: 20px;
    border-radius: 20px;
    border-color:#F9EAA0;
    border-width: 3px;
    cursor: pointer;
    
}

.kotakpembahasan .button2{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-bottom: 100px;
    margin-left: 20px;
    border-radius: 20px;
    border-color: #F9EAA0;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.dashboard .next {
    position: relative;
    top: 85%;
    left: 72%;
    text-decoration: none;
    word-spacing: 8px;
}

.next a{color: black;}

.videotutorial {
    width: 450px;
    height: 800px;
    font-family: "Poppins";
    background-color: #F9EAA0;
    border-radius: 30px;
    border: none;
}

.videotutorial h2 {
    position: relative;
    left: 35px;
}

.videotutorial .display {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.display .berikutnya {
    margin-left: 35px;
}

.videoutama .videomapel {
    width: 375px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 35px;
    border-radius: 10px;
}

.listvideo .deskripsi {
    width: 315px;
    height: 110px;
    background-color: #82ec8b;
    margin-bottom: 30px;
    margin-left: 35px;
    border-radius: 10px;
}

.deskripsi .videomapel {
    width: 175px;
    height: 110px;
    border-radius: 10px;
}

.deskripsi .button {
    position: relative;
    text-align: left;
    bottom: 66px;
    height: 110px;
    font-size: 10px;
    background-color: #82ec8b;
    border: none;
}