@font-face{
    font-family: Poppins;
    src: url(./font/Poppins-Medium.ttf);
}    

body {
    background: linear-gradient(white, #07C2FD) ;
    font-family: "Poppins";
}

body a{
    text-decoration: none;
}

h1 { 
    position: absolute;
    top: 2%;
    left: 5.5%;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: black;
}

ul{
    position: absolute;
    top: 20px;
    right: 130px;
    font-size: 20px;
}

li{list-style: none; display: inline;}

li a {
    padding: 20px;
    color: black;
}

.pelajaran{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

.dashboard {
    width: 700px;
    height: 800px;
    font-family: "Poppins";
    background-color: #F9EAA0;    
    border-radius: 30px;
}

.dashboard h2{
    position: relative;
    font-weight: 300;
    left: 35px;
}

.dashboard .display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.display .kotaksoal {
    width: 370px;
    height: 290px;
    background-color: #82ec8b;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center ;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: -33px;
}

.display .latihan {
    margin-top: -33px;
}

.display .pembahasan {
    margin-top: 33px;
}

.kotaksoal .gambar1 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotaksoal .gambar2 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotaksoal .button1{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-top: 110px;
    margin-right: 20px;
    border-radius: 20px;
    border-color: #F9EAA0;
    border-width: 3px;
    padding: 10px,30px;
    cursor: pointer;
}

.kotaksoal .button1:hover{
    background: chartreuse;
}

.kotaksoal .button2{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-bottom: 100px;
    margin-left: 20px;
    border-radius: 20px;
    border-color:#F9EAA0 ;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.kotaksoal .button2:hover{
    background: chartreuse;
}

.kotakpembahasan {
    width: 370px;
    height: 290px;
    background-color: #82ec8b;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center ;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 33px;
}

.kotakpembahasan .gambar1 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotakpembahasan .gambar2 {
    width: 125px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-width: 2px;
    border-style: solid;
}

.kotakpembahasan .button1{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-top: 110px;
    margin-right: 20px;
    border-radius: 20px;
    border-color:#F9EAA0;
    border-width: 3px;
    cursor: pointer;   
}

.kotakpembahasan .button1:hover{
    background: chartreuse;
}

.kotakpembahasan .button2{
    font-size: 20px;
    font-family: "Poppins";
    height: 35px;
    width: 125px;
    margin-bottom: 100px;
    margin-left: 20px;
    border-radius: 20px;
    border-color: #F9EAA0;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.kotakpembahasan .button2:hover{
    background: chartreuse;
}

.dashboard .next {
    position: relative;
    top: 85%;
    left: 72%;
    text-decoration: none;
    word-spacing: 8px;
}

.next a{color: black;}

.videotutorial {
    width: 450px;
    height: 800px;
    font-family: "Poppins";
    background-color: #F9EAA0;
    border-radius: 30px;
    border: none;
}

.videotutorial h2 {
    position: relative;
    font-weight: 300;
    left: 35px;
}

.videotutorial .display {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.display .berikutnya {
    margin-left: 35px;
}

.videoutama .videomapel {
    width: 375px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 35px;
    border-radius: 10px;
}

.listvideo .deskripsi {
    width: 315px;
    height: 110px;
    background-color: #82ec8b;
    margin-bottom: 30px;
    margin-left: 35px;
    border-radius: 10px;
}

.deskripsi .videomapel {
    width: 175px;
    height: 110px;
    border-radius: 10px;
}

.deskripsi .button {
    position: relative;
    text-align: left;
    bottom: 66px;
    height: 110px;
    font-size: 10px;
    background-color: #82ec8b;
    border: none;
}

@media screen and (max-width: 1060px){
    @font-face {
        font-family: Poppins;
        src: url(./font/Poppins-Medium.ttf);
    }

    h1 {
        position: absolute;
        top: 1%;
        left: 5.5%;
        font-size: 28px;
    }
    
    ul{
        position: absolute;
        top: 3%;
        right: 5% ;
        font-size: 18px;
    }
    
    .dashboard {
        width: 475px;
        height: 700px;
    }
    
    .dashboard h2{
        font-size: 22px;
        left: 3%;
    }
    
    .display .kotaksoal {
        width: 250px;
        height: 240px;
        display: flex;
        justify-content: space-between;
    }

    .display .latihan{
        font-size: 15px;
    }

    .latihan p{
        font-size: 13px;
    }

    .kotaksoal .gambar1{
        width: 85px;
        height: 70px;
        margin-top: 30px;
        margin-left: 12px;
    }

    .kotaksoal .gambar2{
        width: 85px;
        height: 70px;
        margin-bottom: 50px;
        margin-right: 12px;
    }

    .kotaksoal .button1{
        height: 23px;
        width: 85px;
        font-size: 12px;
        margin-top: 80px;
        margin-right: 12px;
    }

    .kotaksoal .button2{
        height: 23px;
        width: 85px;
        font-size: 12px;
        margin-bottom: 100px;
        margin-left: 12px;
    }

    .display .pembahasan{
        font-size: 15px;
    }

    .kotakpembahasan {
        width: 250px;
        height: 240px;
    }

    .pembahasan p{
        font-size: 12px;
    }
    
    .kotakpembahasan .gambar1 {
        width: 85px;
        height: 70px;
        margin-top: 30px;
        margin-left: 12px;
    }
    
    .kotakpembahasan .gambar2 {
        width: 85px;
        height: 70px;
        margin-bottom: 50px;
        margin-right: 12px;
    }
    
    .kotakpembahasan .button1{
        width: 85px;
        height: 23px;  
        font-size: 12px;
        margin-top: 80px;
        margin-right: 12px;
    }
    
    .kotakpembahasan .button2{
        height: 23px;
        width: 85px;
        font-size: 12px;
        margin-bottom: 100px;
        margin-left: 12px;
    }
    
    .dashboard .next {
        position: relative;
        top: 78%;
        left: 70%;
        text-decoration: none;
        word-spacing: 8px;
        font-size: 12px;
    }
    
    .videotutorial {
        width: 380px;
        height: 700px;
    }
    
    .videotutorial h2 {
        font-size: 20px;
    }
    
    .display .berikutnya {
        margin-left: 30px;
    }
    
    .videoutama .videomapel {
        width: 285px;
        height: 150px;
        margin-left: 30px;
    }
    
    .listvideo .deskripsi {
        width: 275px;
        height: 90px;
        margin-left: 30px;
    }
    
    .deskripsi .videomapel {
        width: 120px;
        height: 90px;
    }
    
    .deskripsi .button {
        position: relative;
        text-align: left;
        bottom: 58px;
        height: 85px;
        font-size: 10px;
        background-color: #82ec8b;
        border: none;
    }
}

@media screen and (max-width: 780px){
    @font-face {
        font-family: Poppins;
        src: url(./font/Poppins-Medium.ttf);
    }

    h1 {
        position: absolute;
        top: 1%;
        left: 6%;
        font-size: 28px;
    }
    
    ul{
        position: absolute;
        top: 3%;
        right: 5% ;
        font-size: 18px;
    }
    
    .dashboard {
        width: 350px;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    
    .dashboard h2{
        font-size: 20px;
        left: 5%;
    }
    
    .display .kotaksoal {
        width: 180px;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    .display .latihan{
        font-size: 10px;
    }

    .latihan p{
        font-size: 8px;
    }

    .kotaksoal .gambar1{
        width: 65px;
        height: 50px;
        margin-top: 30px;
        margin-left: 12px;
    }

    .kotaksoal .gambar2{
        width: 65px;
        height: 50px;
        margin-bottom: 50px;
        margin-right: 12px;
    }

    .kotaksoal .button1{
        height: 20px;
        width: 65px;
        font-size: 9px;
        margin-top: 80px;
        margin-right: 12px;
    }

    .kotaksoal .button2{
        height: 20px;
        width: 65px;
        font-size: 9px;
        margin-bottom: 100px;
        margin-left: 12px;
    }

    .display .pembahasan{
        font-size: 10px;
    }

    .kotakpembahasan {
        width: 180px;
        height: 200px;
    }

    .pembahasan p{
        font-size: 9px;
    }
    
    .kotakpembahasan .gambar1 {
        width: 65px;
        height: 50px;
        margin-top: 30px;
        margin-left: 12px;
    }
    
    .kotakpembahasan .gambar2 {
        width: 65px;
        height: 50px;
        margin-bottom: 50px;
        margin-right: 12px;
    }
    
    .kotakpembahasan .button1{
        width: 65px;
        height: 20px;  
        font-size: 9px;
        margin-top: 80px;
        margin-right: 12px;
    }
    
    .kotakpembahasan .button2{
        height: 20px;
        width: 65px;
        font-size: 9px;
        margin-bottom: 100px;
        margin-left: 12px;
    }
    
    .dashboard .next {
        position: relative;
        top: 78%;
        left: 63%;
        text-decoration: none;
        word-spacing: 8px;
        font-size: 12px;
    }
    
    .videotutorial {
        width: 275px;
        height: 600px;
    }
    
    .videotutorial h2 {
        font-size: 20px;
    }
    
    .display .berikutnya {
        margin-left: 25px;
    }
    
    .videoutama .videomapel {
        width: 215px;
        height: 100px;
        margin-left: 25px;
    }
    
    .listvideo .deskripsi {
        width: 215px;
        height: 80px;
        margin-left: 25px;
    }
    
    .deskripsi .videomapel {
        width: 100px;
        height: 75px;
    }
    
    .deskripsi .button {
        position: relative;
        text-align: left;
        bottom: 50px;
        height: 70px;
        font-size: 8px;
        background-color: #82ec8b;
        border: none;
    }
}

@media screen and (max-width: 600px){
    @font-face {
        font-family: Poppins;
        src: url(./font/Poppins-Medium.ttf);
    }

    h1 {font-size: 28px;}
    
    ul{font-size: 18px;}

    .pelajaran{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .dashboard {
        width: 500px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dashboard h2{
        font-size: 20px;
        margin-right: 78%;
    }
    
    .display .kotaksoal {
        width: 275px;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }

    .display .latihan{
        font-size: 15px;
    }

    .latihan p{
        font-size: 13px;
    }

    .kotaksoal .gambar1{
        width: 100px;
        height: 80px;
    }

    .kotaksoal .gambar2{
        width: 100px;
        height: 80px;
    }

    .kotaksoal .button1{
        height: 30px;
        width: 100px;
        font-size: 15px;
    }

    .kotaksoal .button2{
        height: 30px;
        width: 100px;
        font-size: 15px;
    }

    .display .pembahasan{
        font-size: 15px;
    }

    .kotakpembahasan {
        width: 275px;
        height: 250px;
    }

    .pembahasan p{
        font-size: 13px;
    }
    
    .kotakpembahasan .gambar1 {
        width: 100px;
        height: 80px;
    }
    
    .kotakpembahasan .gambar2 {
        width: 100px;
        height: 80px;
    }
    
    .kotakpembahasan .button1{
        width: 100px;
        height: 30px;  
        font-size: 15px;
    }
    
    .kotakpembahasan .button2{
        width: 100px;
        height: 30px;
        font-size: 15px;
    }
    
    .dashboard .next {
        position: relative;
        top: 85%;
        left: 33%;
        text-decoration: none;
        word-spacing: 8px;
        font-size: 12px;
    }
    
    .videotutorial {
        width: 500px;
        height: 750px;
        margin-top: 4%;
        align-items: center;
    }
    
    .videotutorial h2 {
        font-size: 20px;
    }
    
    .display .berikutnya {
        margin-left: 27px;
    }
    
    .videoutama .videomapel {
        width: 385px;
        height: 200px;
        margin-left: 25px;
    }
    
    .listvideo .deskripsi {
        width: 355px;
        height: 100px;
        margin-left: 25px;
    }
    
    .deskripsi .videomapel {
        width: 150px;
        height: 100px;
    }
    
    .deskripsi .button {
        bottom: 65px;
        height: 95px;
        font-size: 13px;
    }
}

@media screen and (max-width: 500px){
    @font-face {
        font-family: Poppins;
        src: url(./font/Poppins-Medium.ttf);
    }

    h1 {font-size: 25px;}
    
    ul{font-size: 15px;}

    .pelajaran{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .dashboard {
        width: 400px;
        height: 550px;
    }
    
    .dashboard h2{
        font-size: 17px;
        margin-right: 78%;
    }
    
    .display .kotaksoal {
        width: 230px;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    .display .latihan{
        font-size: 13px;
    }

    .latihan p{
        font-size: 11px;
    }

    .kotaksoal .gambar1{
        width: 80px;
        height: 60px;
    }

    .kotaksoal .gambar2{
        width: 80px;
        height: 60px;
    }

    .kotaksoal .button1{
        height: 25px;
        width: 80px;
        font-size: 12px;
    }

    .kotaksoal .button2{
        height: 25px;
        width: 80px;
        font-size: 12px;
    }

    .display .pembahasan{
        font-size: 13px;
    }

    .kotakpembahasan {
        width: 230px;
        height: 200px;
    }

    .pembahasan p{
        font-size: 11px;
    }
    
    .kotakpembahasan .gambar1 {
        width: 80px;
        height: 60px;
    }
    
    .kotakpembahasan .gambar2 {
        width: 80px;
        height: 60px;
    }
    
    .kotakpembahasan .button1{
        height: 25px;
        width: 80px;
        font-size: 12px;
    }
    
    .kotakpembahasan .button2{
        height: 25px;
        width: 80px;
        font-size: 12px;
    }
    
    .videotutorial {
        width: 400px;
        height: 650px;
    }
    
    .videotutorial h2 {
        font-size: 20px;
    }
    
    .display .berikutnya {
        margin-left: 27px;
    }
    
    .videoutama .videomapel {
        width: 300px;
        height: 150px;
    }
    
    .listvideo .deskripsi {
        width: 300px;
        height: 80px;
        margin-left: 25px;
    }
    
    .deskripsi .videomapel {
        width: 120px;
        height: 80px;
    }
    
    .deskripsi .button {
        bottom: 54px;
        height: 75px;
        font-size: 11px;
    }
}
