body{
    background-image: linear-gradient(#ffffff,#07C2FD);
    max-width: 1440px;
    height:780px;
}

a {
    text-decoration: none;
    font-size: calc(15px + 0.18vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav.navbar > div.container {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
nav.navbar .title {
    display: flex;
}

nav.navbar .navigation a:not(:last-child) {
    margin-right: 25px;
    color: black;
}
nav.navbar .navigation a:not(.button):hover {
    border-bottom: 1px solid black;
}
  
h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: calc(13px + 1.5vw);
}
 
h2{
    font-size: calc(15px + 1.5vw);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

p{
    font-size: calc(10px + 1vw);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.kotakpilihan {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.kotakpilihan p1{
    width: 150px;
    height: 50px;
}

.kotakpilihan p2{
    width: 150px;
    height: 50px;
    margin-left: 66px;
    margin-right: 65px;
}

.kotakpilihan p3{
    width: 150px;
    height: 50px;
}

.kotakpilihan .gambar1 {
    width: 125px;
    height: 100px;
    border-radius: 25px;
    border:8px solid #F9EAA0;
}

.kotakpilihan .gambar2 {
    width: 125px;
    height: 100px;
    border-radius: 25px;
    border:8px solid #F9EAA0;
    margin-left: 75px;
    margin-right: 75px;
}

.kotakpilihan .gambar3 {
    width: 125px;
    height: 100px;
    border-radius: 25px;
    border:8px solid #F9EAA0;
}

@media screen and (max-width: 610px){
    .kotakpilihan{
        max-width: 450px;
        font-size: 17px;
    }

    .kotakpilihan p1{
        width: 125px;
        height: 65px;
    }
    
    .kotakpilihan p2{
        width: 125px;
        margin-left: 33px;
        margin-right: 33px;
    }
    
    .kotakpilihan p3{
        width: 125px;
    }
    
    .kotakpilihan .gambar1 {
        width: 100px;
        height: 80px;
    }
    
    .kotakpilihan .gambar2 {
        width: 100px;
        height: 80px;
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .kotakpilihan .gambar3 {
        width: 100px;
        height: 80px;
    }
}

